<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PatientData</title>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- Boxicons CDN Link -->
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
</head>

<body>
    <div class="sidebar">
        <div class="logo_content">
            <a href="/index.html">
                <div class="logo">
                    <i class="bx bx-buildings"></i>
                    <div class="logo_name">HIS</div>
                </div>
            </a>
        </div>
        <ul class="nav_list">
            <li>
                <a href="/dashboard.html">
                    <i class="bx bx-grid-alt"></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/addPatient.html">
                    <i class="bx bx-user-plus"></i>
                    <span class="links_name">New Patient</span>
                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:3000/">
                    <i class="bx bx-list-ul"></i>
                    <span class="links_name">Patient List</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bx bx-cog"></i>
                    <span class="links_name">Setting</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="content main">
        <form id="getPatient" method="POST" action="http://127.0.0.1:3000/AddNewPatient">
            <div>
                <label for="id">病患id:</label>
                <input type="text" name="id" id="id" value="<%= data.id %>">
                <br>
                <label for="name">病患姓名:</label>
                <input type="text" name="name" id="name" value="<%= data.name[0].text %>">
                <br>
                <label for="identifier">病患身分證:</label>
                <input type="text" name="identifier" id="identifier" value="<%= data.identifier[0].value %>">
                <br>
                <label for="gender">性別:</label>
                <input type="text" name="gender" id="gender" value="<%= data.gender%>">
                <br>
                <label for="birthDate">出生年月日:</label>
                <input type="text" name="birthDate" id="birthDate" value="<%= data.birthDate %>">
                <br>
            </div>
            <input id="send" type="submit" value="送出">
        </form>

    </div>
</body>

</html>